.notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;

    &:focus {
        outline: 0;
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(black, .2);
        top: 0;
        left: 0;
        z-index: 0;
    }

    .inner {
        background-color: white;
        width: 240px;
        color: $tunagrey;
        z-index: 1;
        padding: 20px;
        text-align: center;
        border-radius: 4px;

        .title {
            width: 100%;
            font-size: 1.3rem;
        }

        .message {
            font-size: .9rem;
            margin-top: 10px;
        }
    }
}