.project-list {
    padding: 20px;

    .actions {
        margin: 0 0 20px 0;
    }

    header {
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        background-color: rgb(88, 90, 100);
        color: white;
        font-size: .8rem;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        & > div, & > ul {
            padding: 10px;
        }

        div {

            &.code {
                flex: 0 1 40px;
            }

            &.object {
                flex: 1 1 100%;
                text-align: left;
            }
        }

    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    
        li {
            display: flex;
            
            &:nth-child(odd) {
                background-color: rgba(black, .03);
            }

            div {
                padding: 5px 10px;
            }

            .code {
                text-align: center;
                flex: 0 1 40px;
            }

            .object {
                flex: 1 1 100%;
                text-align: left;
            }

        }
    }
}