.back-button {
    margin: 10px;
    padding: 8px 0;
    display: flex;
    background: white;
    align-items: center;

    svg {
        fill: $tunagrey;
        width: 14px;
        height: 14px;
    }

    span {
        margin-left: 5px;
        line-height: 0;
        color: $tunagrey;
    }
}