#add-project-item-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 100vh;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.2);
    display: none;

    &.show {
        display: flex;
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.2);
    }

    .inner {
        position: relative;
        max-width: 500px;
        background-color: white;
        padding: 20px;
        margin: auto 0;
        border-radius: 4px;
        width: 300px;

        .input-container {
            font-size: .9rem;

            input {
                width: 100%;
                box-sizing: border-box;
            }
        }
        
        .name-error {
            font-size: .8rem;
            color: $burntsiennared;
            margin: 10px 0;
        }

        button {
            margin-top: 10px;
        }

        .final-step {

            p {
                color: $onlinegreen;
                margin-top: 0;
            }
            
            .actions {
                display: flex;
                margin-bottom: 0;
                justify-content: space-between;

                button {
    
                    &.add-new-period {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

}