.close-button {
    margin: 10px;
    width: 24px;
    height: 24px;
    padding: 0;
    background: white;
    padding: 6px;
    position: absolute;
    border-radius: 50%;
    top: -20px;
    right: -20px;
    border: 1px solid $lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
        fill: $tunagrey;
    }
}