.project-items-list {
    padding: 10px;

    .actions {
        display: flex;
        margin-bottom: 20px;

        button {
            margin-right: 10px;
        }

        .searchbox {

            input[type=text] {
                border-radius: 4px;
                padding: 7px;
                border: 1px solid $lightgrey;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    header {
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        background-color: rgb(88, 90, 100);
        color: white;
        font-size: .8rem;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        & > div, & > ul {
            padding: 5px;
        }

        .year {
            margin-bottom: 10px;
            font-weight: 600;
            padding-top: 5px;
        }

        .period-info {
            display: flex;
            
            & > div {
                text-align: center;
            }

            .amount {
                flex: 0 0 40px;
            }

            .price, .sum {
                flex: 2 50%;
            }
        }

    }

    ul {

        &.items-list {
            font-size: .9rem;

            li {
                display: flex;
                padding: 0;
                align-items: center;
                border: 1px solid $lightgrey;
                text-align: center;
                
                &:nth-child(even) {
                    background-color: rgba(black, .03);
                }

                &.selected {
                    background: lightblue;
                }

                & > div {
                    padding: 5px;
                }

                ul.periods {

                    li {
                        background: none;
                        border: none;
                        
                        .amount {
                            flex: 0 0 40px;
                            border-left: 1px solid $lightgrey;
                            border-right: 1px solid $lightgrey;
                        }

                        .price, .sum {
                            flex: 2 50%;
                            border-right: 1px solid $lightgrey;
                        }
                    }
                }
            }
        }
    }

    .year-selection {
        position: absolute;
        top: -30px;
        right: 0;
        display: flex;

        button {
            padding: 5px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child {
                margin-right: 5px;
            }

            svg {
                width: 100%;
                height: 100%;
                fill: white;
            }
        }
        
    }

    .no-results {
        text-align: center;
        font-weight: 600;
        padding: 20px;
    }
}

.loading-container {
    width: 100%;
    height: 50px;
}