#add-project-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 100vh;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    display: none;

    &.show {
        display: flex;
    }
    
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.2);
    }

    .inner {
        position: relative;
        max-width: 500px;
        background-color: white;
        padding: 20px;
        margin: auto 0;
        border-radius: 4px;
        width: 300px;

        .input-container {
            font-size: .9rem;

            input {
                box-sizing: border-box;
                width: 100%;
            }
        }

        button {
            margin-top: 10px;
        }

        .project-added {
            color: $onlinegreen;
            font-size: .9rem;
        }
    }

    .error {
        font-size: .8rem;
        color: $burntsiennared;
        margin: 10px 0 0 0;
    }
}