@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');
@import './colours';
@import './components/AddProjectItemModal/addProjectItemModal';
@import './components/AddProjectModal/addProjectModal';
@import './components/BackButton/backButton';
@import './components/Notification/notification';
@import './components/CloseButton/closeButton';
@import './components/ProjectList/projectList';
@import './components/ProjectItemsList/ProjectListItem/projectListItem';
@import './components/ProjectItemsList/ProjectItemPeriod/projectItemPeriod';
@import './components/ProjectItemsList/projectItemsList';
@import './components/AddProjectItemModal/PeriodInput/periodInput';

$font: 'Nunito', sans-serif;

body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: 10px 0 20px 0;
}

h3 {
  margin: 0 0 20px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.code {
  flex: 0 0 50px;
}

.object {
  flex: 0 0 300px;
}

.periods {
  display: flex;
  flex-basis: 100%;

  li {
      flex-basis: 100%;
  }
}

button {
  background: $tunagrey;
  color: white;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.input-container {

  label {
      display: block;
  }

  input {
      padding: 5px;
      border-radius: 4px;
      -webkit-appearance: none;
      border: 1px solid rgba(black, .1);

  }
}